body {
  background-color: #9e9e9e29;
  line-height: 1px;
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
}
.beano {
  margin: 20%;
  position: relative;
  width: 50px;
  height: 400px;
  transform: rotate(-35deg) skew(20deg, 5deg);
  box-sizing: border-box;
}

.icon {
  background-color: black;
  width: 50px;
  height: 62px;
  border-bottom: 1px solid;
  box-sizing: border-box;
  position: relative;
  display: block;
  box-shadow: -35px 30px 0 #d5d8dc;
  text-align: center;
}
.icon::after{
  ba
}
.icon:hover {
  transform: scale3d(1, 1, 50);
  background-color: red;
  box-sizing: border-box;
  transform: translate(20px);

  background-color:red;
}
.fas {
  padding-top:20px;
  font-size: 10px;
  color: gray;
}
