.basic {
  /* transform: rotate(-35deg) skew(20deg, 5deg); */
  transform: rotate(-30deg) skew(-80deg, -5deg);
}
.icon {
  background: #000;

  height: 50px;
  width: 50px;


  border-bottom: 3px solid gray;
  position: relative;
  display: block;

  box-shadow: 30px 20px  gray;

}
