body {
  background-color: black;
}
.cube {
  width: 400px;
  height: 400px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 100%;
  background-color: white;
  box-shadow: 20px 20px 20px white;
  transform: rotate(90deg);
}
.cube:hover {
  background: linear-gradient(pink, rgb(103, 103, 131));
  box-shadow: 20px 20px 20px palegreen;

  transform: translate(50px, 90px);
}

.islamic,
.islamic2 {
  border: 20px solid green;
  width: 400px;
  height: 400px;
  background-color: white;
}
.islamic2 {
  border: 20px solid green;
  transform: rotate(48deg);
  transform: translate(-10px, -0px);
}

.islamic .islamic2:hover {
  transform: rotate(-48deg);
  box-shadow: 20px 20px 20px palegreen;
}

.skew {
  border: 20px solid plum;
  width: 400px;
  height: 400px;
  background-color: white;
  transform: skew(20deg, 30deg);
  transition: width 10s height 5s margin-top 6s;
}
.skew:hover
