.basic {
  transform: rotate(-35deg) skew(20deg, 5deg);
}
.icon {
  background: #000;
  color: #575757;
  text-align: center;
  height: 50px;
  width: 50px;
  /* vertical-align: middle; */
  line-height: 2.5em;
  border-bottom: 1px solid #060606;
  position: relative;
  display: block;
  text-decoration: none;
  box-shadow: -2em 1.5em 0 #e1e1e1;
  /* -webkit-transition: all .25s linear; */
  transition: all 0.25s linear;
}
