body {
  background-color: black;
}
.cube {
  width: 400px;
  height: 400px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 100%;
  background-color: white;
  box-shadow: 20px 20px 20px white;
}
.cube:hover {
  background: linear-gradient(pink, rgb(103, 103, 131));
  box-shadow: 20px 20px 20px palegreen;
  transform: rotate(90 deg);
}
