body {
  background-color: #9e9e9e29;
  line-height: 1px;
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
}
.beano {
  margin: 20%;
  position: relative;
  width: 100px;
  height: 500px;
  transform: rotate(-35deg) skew(20deg, 5deg);
  box-shadow: -30px 2px 50px gray;
  box-sizing: border-box;
}
/* .beano::before{
  box-sizing: border-box;
}
.beano::after{
  box-sizing: border-box;
} */
.icon {
  background-color: black;
  width: 100px;
  height: 72px;
  border-bottom: 1px solid;
  box-sizing: border-box;
  position: relative;
  display:block;

}
.icon:hover {
  translate: 1px;
  transform: scale3d(1, 1, 50);
  background-color: red;
  box-shadow: -30px 2px 50px gray;
  box-sizing: border-box;
  transform: translate(10px);
}
.icon::before {
  height:30px;
  background: #121212;
  top: 0.25em;
  left: -0.5em;
}
